# Ignore Gradle project-specific cache directory
.gradle

#IntelliJ local files 
.idea/gradle.xml
.idea/misc.xml

# Ignore Gradle build output directory
build

# miscellanies
**/.DS_Store
.metadata/**
doc/developers/popdevg.log
doc/developers/popdevg.synctex.gz


