# Ignore Gradle project-specific cache directory
.gradle

#IntelliJ local files 
.idea/**/gradle.xml
.idea/**/misc.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/libraries
.idea/**/dictionaries
.idea/**/shelf


# Ignore Gradle build output directory
build

# miscellanies
**/.DS_Store
.metadata/**
doc/developers/popdevg.log
doc/developers/popdevg.synctex.gz


